/*
(주의점) position : sticky는 

1. 스크롤을 할 만한 부모 div 가 존재해야 한다. 
2. top 등 좌표속성과 함께 써야 제대로 보임
: 스크롤 되면서 부모 요소로 부터 top:50px 만큼 떨어져서 스크롤을 유지시킨다. 

다시 말하자면, position : sticky를 사용하기 위해서는 
1. 상위 div의 height를 스크롤 할만큼 충분히 설정하는 것이 중요
2. 스크롤 하면서 고정될 위치를 지정하는 것이 중요(top)

position : fixed와의 차이점 
스크롤 되면서 고정되는 것은 동일하나, 
fixed는 상위 div에 의존하지 않고 전체 웹사이트에 계속 고정된다. 
sticky는 상위 div에 의존하며 상위 div가 없어지는 시점까지만 고정된다. 
*/
body{
    margin : 0px; 
}
div {
    box-sizing: border-box;
}
.grey {
    background-color:coral;
    width : 100%;
    height : 2000px; 
    margin-top : 500px;
    margin-bottom: 2000px; 
}

.left-area {
    float : left; 
    color : white; 
}

.right-area {
    float :right; 
    width : 50%; 
    height : 700px;
    position: sticky;
    top : 100px; /* 스크롤 되어 내려가면서 이미지가 고정되는 위치*/
}
