
.container {
    width : 1000px;
    height : 300px; 
    margin : auto;
}

.text {
    width : 70%; 
    height : 300px;
    float : left;
}


.photo {
    width : 30%; 
    height : 300px; 
    float : left; 
}

.tv {
    margin-top : 50px;
    margin-left : 50px;
    border-radius: 50px;
}

.profile {
    float : left; 
    margin-left: 10px;
}

.blog-profile {
    float : left; 
}

.main-text {
    clear: both;
    margin-top : 10px;
}


.li-inline li{
    display: inline-block;
    width : 50px;
    text-align: center;
}



.navbar {
    width:1000px;
    margin : auto;
    margin-bottom: 10px;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: black;
}
.link : visited {
    color:black;
}
