div{
    box-sizing: border-box;
}

th,td {
    border-bottom : 1px solid lightpink;
    padding: 10px;
}

.table-wrap {
    width : 100%;
    background-color: lightpink;
    padding : 50px;
}

.table-link-btn-wrap {
    width : 100%;
    max-width : 700px;
    position: relative;
    margin: auto;
}

table {
    width : 100%;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
   

.table-main {
    width : 100%;
    display: block;
    margin : auto;
}

.img-size {
    width : 100px;
    height : 100px;
    display: block; 
    margin: auto;
}



.column-amount {
    text-align: right;
}



.width-half {
    width : 50%;
    float : left;
    padding-top : 20px;

}

.btn-style {
    padding: 20px;
    background-color: coral;
    color : white;
    border-radius: 5px;
    border:none;
    font-size : 15px;
    cursor : pointer;
/*    버튼에 마우스 올리면 손가락 모양으로 변경*/
}

/*순서 : hover -> focus -> active  */
.btn-style:hover{ /* 버튼에 마우스를 올렸을 때*/
    background-color: chocolate;
}

.btn-style:focus { /* Click 후 : 클릭 이후에 버튼의 색깔 변경 */
    background-color: red;
}

.btn-style:active { /* Click 중 :마우스 올리고 클릭~손가락 떼기 전 까지 색 변경*/
    background-color: brown;
}

/*
.btn-style:focus {  Click 중 :마우스 올리고 클릭~손가락 떼기 전 까지 색 변경
    background-color: red;
}
*/


.btn-position {
    position : absolute;
    right : 0
}



.column-item {
    width : 50%;
    text-align: left;    
}



.mylink{
    text-decoration: none;
}

.mylink:link{
    color : black;
}

.mylink:visited{
    color : aqua;
}
