div {
    box-sizing: border-box;
}

/*웹폰트 방법 1. font-face */
/*
@font-face{ 
    font-family : '개미는오늘도'; 이걸로 밑에 다운받은걸 치환해줘
    src : url(./NanumSquare-master/NanumSquareR.woff);
}
*/

.main-background {
    width : 100%; 
    height : 1000px; 
    background-image: url(../이미지파일/백두산여행2.jpg);
    background-size: cover; 
    /*cover : 반응형 웹, 그림은 잘려도 좋으니까 background 영역은 축소시키지 마라.
      -> 모든 배경에 사진이 꽉찬다. 배경에 공백이 없다. 
      contain : 그림을 잘리지 않도록 하라
      -> 사진이 완전히 나오며, 배경에 공백이 생긴다. 
    */
    background-repeat: no-repeat; /* 사진 반복 X*/
    background-position: center;
    /* 배경이 어디서부터 채워질지 
    : center -> 가운데 부터 채워진다. 
    */
    padding-top: 300px; /* margin-collapse-effect : 마진이 서로 겹치면 하나로 합쳐서 적용, 일종의 버그 */
    /*
        해결방안 = 두개의 마진을 안겹치게 하면 된다. 
    1. 상위 div에 padding을 1px이라도 주어서 하위 div에 margin을 적용한다. 
    2. 상위 div에서 마진을 사용하지 않고 padding-top 을 주어서 해결한다. (추천) 
    */
    position: relative;
}

body {  /*맨 위와 왼쪽의 살짝 띄워진 마진을 없애기 위한 body의 기본값을 조정*/
    margin : 0px;
    font-family: 'Nanum Pen Script', cursive;
}

p,h3,h2,h1,h4,h5{
    transform: rotate(0.03deg);
}

.main-title {
    color : black;
    font-size : 40px;
}
/*

.main-title-wrap {
    margin-top: 250px;
}
*/

.main-text {
    padding : 20px;
    color : black;
    font-size : 20px;
    
}

.main-title-wrap {
        text-align: center;
}

.main-button {
    padding : 20px;
    font-size:20px;
    background-color: white;
    border: none;
    display: block;
    margin: auto;
}

.position {
    position : absolute;
    bottom : 150px;
    left : 0;
    right : 0; 
    margin-left:auto;
    margin-right:auto; 
    width : 200px;     
}



.explain {
    width : 80%;
    max-width: 800px;
    margin: auto;
    background-color: #eee;
    text-align: center;
    position: relative;
    top : -50px;
}

.flex-container {
    display : flex;
    align-items: center;
    cursor: pointer;
}

.flex-logo {
    padding-left : 20px;
    font-size : 60px; 
    font-weight: 600;
}

.flex-menu {
    margin : 5px;
    font-size: 40px;
}

.flex-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-box {
    width : 100px; 
    height : 100px;
    background-color: coral;
    margin : 5px; 
}

.form-wrap {
    background-color: rgba(0,0,0,0.8);
    width : 100%;
    padding : 60px;
}

.form-inner {
    width : 100%;
    max-width: 750px;
    padding : 20px;
    margin:auto;
    background-color: white;
    position : relative;
}

.form-all-width {
    padding : 10px; 
}

.non-name-input {
    width : 100%;
    padding : 15px;
    border : 1px solid #eee;
}

.form-half-width {
    width : 50%; 
    float : left; 
    padding : 10px; 
}

.name-input {
    width : 100%;
    padding : 15px;
    border : 1px solid #eee;
}

.button {
    max-width: 190px;
    background-color: skyblue;
    color : white; 
    width : 20%; 
    padding : 15px; 
    border: none;
    border-radius: 10px; 
    font-size: 20px;
    position : absolute;
    right : 30px;
    bottom : 5px;
}




.content-box {
    width : 25%;
    float: left;
    border-left : 1px solid #eee;
    border-right : 1px solid #eee;
    padding : 30px;
}

.box-wrap {
    width : 100%;
    text-align: center;
    max-width: 1200px;
    margin : auto;
    padding : 50px;
}

@media screen and (max-width : 1200px){
    .flex-logo{
        font-size:45px;
    }
    .flex-menu{
        font-size : 30px;
    }
    .content-box {
        float: left;
        width : 50%;
        border : none;
    }
}

@media screen and (max-width :768px){
    .flex-logo{
        font-size:35px;
    }
    .flex-menu{
        font-size : 15px;
    }
    .content-box {
        float: none;
        border-top : 1px solid #eee;
        border-bottom : 1px solid #eee;
        width : 100%;
    }
}
