
body{
    margin : 0px; 
}
div {
    box-sizing: border-box;
}
.form-wrap {
    background-color: palegreen;
    width : 1000px;
    padding : 60px;
    
}

.form-inner {
    width : 100%;
    padding : 20px;
    background-color: white;
/*    position : relative;*/
}

.form-all-width {
    padding : 10px; 
}

.non-name-input {
    width : 100%;
    padding : 15px;
    border : 1px solid #eee;
}

.form-half-width {
    width : 50%; 
    float : left; 
    padding : 10px; 
    position: relative;
}

.name-input {
    width : 100%;
    padding : 15px;
    border : 1px solid #eee;
}

.button {
    background-color: skyblue;
    color : white; 
    width : 20%; 
    padding : 15px; 
    border: none;
    border-radius: 10px; 
    font-size: 20px;
    position : relative;
    right : -666px;
}
