div, input, form,textarea {
    box-sizing: border-box;
    
}

/*폰트 정의*/
@font-face{
    font-family : '경원폰트'; /*경원 폰트로 치환해서 사용 */
    font-weight : 400;
    src : url(./NanumSquare-master/font/NanumSquareR.woff);
    
/*    ttf 파일은 용량 매우 큼*/
/*    저용량 폰트 -> woff(웹 전용 압축, 호환성 낮음), eot(웹 전용 압축) */
/*    호환성을 잡으려면 eot, woff 모두 첨부 */
}

p,h1,h2,h3,h4,h5,span{
    transform: rotate(0.03deg);
    font-family: '경원폰트';
}
body { 
    margin : 0px;
    font-family: '경원폰트';
}
.main-background {
    width : 100%;
    height: 500px;
    background-image: url(shoes.jpg);
    background-repeat: no-repeat;/*이미지 반복방지*/
    background-size: cover; /* 웹 창 사이즈가 줄더라도 공백없이 이미지를 꽉 채워 */
/*    background-size: contain;  공백이 있더라도 이미지를 절대 훼손하지 말것 */
    background-position: center;
/*    웹 창 사이즈를 줄이고 늘릴때 어디서 부터 이미지를 채울 것 인지*/
    background-attachment: fixed;
/*    사이트에 스크롤바 있으면 이미지를 고정 할 것*/
    padding-top : 100px;
    position: relative;
}



.main-box {

    text-align: center;
    color : white;
}


.main-button {
    display : block;
    margin : auto; 
    font-family: nanumsquare;
    padding : 10px;
    border: none;
}

body {
    margin : 0px;
}

.position {
    /* 원래 위치를 기준으로 좌표를 변경시켜주는 속성 position : relative */
    position : absolute; /* 쓰면, 좌표계를 설정 할 수 있다. */
    bottom : 100px;
    left : 0; 
    right : 0;
    margin : auto;
    width : 150px;
}

.main-text {
    margin-top: 50px;
}

.gray-box {
    background-color : #eee;
    max-width: 600px;
    width : 80%;
    height : 30%;
    display : border;
    margin : auto;
}

.gray-box-position {
    text-align: center;
    position : relative;
    left : 0;
    right : 0; 
    margin : auto; 
    bottom : 60px;
}



.gray-box-text {
    padding-top : 10px;
    
}

.gray-box-title {
    margin-top : 40px;
}




.form-background {
    width : 100%;
    padding : 20px;
    background-color: rgba(0,0,0,0.8);
}

.form-main {
    width : 50%;
    padding : 20px;
    background-color: white;
    display : border;
    margin : auto; 
    position : relative;
}

.width-whole {
    width : 100%;
    padding : 5px;
}

.width-half {
    float : left;
    width : 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.form-size {
    width: 100%;
    padding : 10px;
    border-radius: 10px;
    
}

.form-size-half {
    width : 100%;
    padding : 10px;
    border-radius: 10px;
    border : 1px solid #eee;
}

.form-size-whole {
    width : 100%;
    padding : 10px;
    border-radius: 10px;
    border : 1px solid #eee;
}



.form-checkbox {
    margin-top : 10px;
}

.SEND-button {
    width : 100px;
    padding : 10px;
    background-color: orange;
    border: 1px solid white;
    color : white;
    position: absolute;
    right : 20px;
    border-radius: 10px;
}

.bottom {
    
}

.nav-wrap {
    display: flex;
    align-content: center;
}
